@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-SemiBold.woff);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-Bold.woff);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

