@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-SemiBold.woff);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy/Gilroy-Bold.woff);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Gilroy, sans-serif;
}

.page {
    height: 100%;
    display: flex;
}

.cover {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    background: linear-gradient(31.22deg, #8C43E6 -8.43%, #EF8D6D 100%);
}

.cover__title {
    font-size: 2.916664vw;
    line-height: 1.24em;
    font-weight: 700;
    color: #fff;
}

.cover__image {
    width: 35.469vw;
    height: auto;
    align-self: center;
}

.content {
    padding: 2.343vw 0;
    width: 50%;
}

.content__container {
    max-width: 37.292vw;
    margin: 0 auto;
}

.content__header {}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5.963vw;
}

.header__back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__arrow {
    width: 1.25vw;
    margin: 0 0.533vw 0 0;
}

.header__back-text {
    font-size: 0.833333vw;
    line-height: 1.18rem;
    color: #000;
}

.header__reg-container {
    display: flex;
    font-size: 0.833333vw;
    line-height: 1.18rem;
}

.header__reg-text {
    color: #94969A;
}

.header__reg-link {
    color: #553bf1;
    text-decoration: none;
}

.content__main {}

.main__title {
    font-size: 1.66666vw;
    line-height: 1.25em;
    font-weight: 700;
    margin: 0 0 1.354vw 0;
}

.main__alt-auth-links-container {
    display: flex;
    justify-content: space-between;
    height: 2.9166vw;
    margin: 0 0 1.875vw 0;
}

.main__google-auth-link {
    font-size: 0.8333vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 2.9166vw;
    font-weight: 600;
    min-width: 18.02vw;
    /* margin: 0 1.25vw 0 0; */
    padding: 0 1.5625vw;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #F9AF3A -12.59%, #DE5F8F 114.44%);
    box-shadow: 0px 15px 50px rgba(222, 95, 143, 0.12);
    border-radius: 50px;
}

.main__google-auth-link::before {
    content: "";
    display: inline-flex;
    vertical-align: middle;
    align-self: center;
    margin: 0.5208vw;
    width: 24px;
    height: 24px;
    background-image: url(images/google-logo.svg);
}

.main__facebook-auth-link {
    font-size: 0.8333vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 2.9166vw;
    font-weight: 600;
    min-width: 18.02vw;
    padding: 0 ;
    text-decoration: none;
    color: #181d32;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(222, 95, 143, 0.12);
    border-radius: 50px;
}

.main__facebook-auth-link::before {
    content: "";
    display: inline-flex;
    vertical-align: middle;
    align-self: center;
    margin: 0.5208vw;
    width: 24px;
    height: 24px;
    background-image: url(images/facebook-logo.svg);
}

.main__alt-auth-text {
    color: #94969a;
}